header {
	background:#EFF5FB;
	color:#fff;
}

.main{
    background:#f2f2f2;
    color:#fff;
}
aside{
    background:#000000;
    color:#fff;
}

footer{
    background:#26BFC1;
    color:#fff;
}﻿

.capitalLetter
{
   float:left;
   color:black;
   background:white;
   border:1px solid #999999;
   font-size:80px;
   line-height:60px;
   padding:2px;
   font-family:times;
   margin-right: 5px;
}
	
.flex-parent{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
 
.flex-child{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

